<ion-view>

  <ion-content>

    <div ng-show="yoga.mainMenu" class="">
      <div class="row" ng-click="yoga.startBtnClick()">
        <!--<div class="responsive-circle nyc-circle balanced-bg padding">-->
        <!--<div class="circle-inner">START</div>-->
        <!--</div>-->
        <div class="startCircle">
          <div class="startBtn">start</div>
        </div>
      </div>

    </div>

    <div ng-show="yoga.exerciseMenu">
      <div class="row">
        <div class="col dark-bg padding text-center" style="color:white;margin:0;left:0">{{yoga.nextExercise}}</div>
      </div>
      <div class="row">
        <img class="col-offset-10 col-80" ng-src="{{yoga.exercisePath}}" style="{{yoga.imageStyle}}">
      </div>
      <div class="row">
        <div class="col-bottom">
          <div class="positive-bg startCircle">
            <div class="startBtn">{{yoga.timerInSec}}</div>
          </div>
        </div>
      </div>


    </div>
    <div ng-show="!yoga.exerciseMenu && yoga.restHolder" id="restElement">
      <div class="row">
        <div class="col dark-bg text-center padding" style="color:white">Rest Time</div>
      </div>
      <div class="row">
        <div class="col-top">
          <div class="positive-bg startCircle">
            <div class="startBtn">{{yoga.timerInSec}}</div>
          </div>        
        </div>
      </div>
    

    </div>
  </ion-content>
  <div class="bar-footer footerClass" ng-show="!yoga.exerciseMenu && yoga.restHolder ">
    <div class="row">
      <button class="button button-block button-positive yogaMain" ng-click="yoga.restTimeCancel()">{{yoga.nextExercise}}</button>
    </div>
  </div>
  <div class="bar-footer footerMain" ng-show="yoga.mainMenu">
    <div class="row">
      <button class="col button button-positive yogaMain" style="margin-right: 15px" ng-click="yoga.appBtnClick('yogaPoses')">
        Poses
      </button>
      <button class="col  button button-positive padding yogaMain" ng-click="yoga.appBtnClick('yogaSetting')">
        Settings
      </button>
    </div>
    <div class="row">
      <button class="col button button-block button-positive yogaMain" style="margin-right: 15px" ng-click="yoga.appBtnClick('home')">Home
      </button>
      <button class="col  button button-block button-positive yogaMain" ng-click="yoga.appBtnClick('yogaCalendar')">Calendar</button>
    </div>
  </div>
</ion-view>
