<ion-view>
  <div class="verticall-content">
    <div class="verticalAlignContent">
      <div class="list">
        <label class="item-input row"><span class="col-50">WorkOut Time</span>
   <input type="number" class="col-50" id="workOutTime"  ng-model="yogaSetting.workOutTime">
   </label>

        <label class="item item-input row"><span class="col-50">Rest Time</span>
    <input type="number" class="col-50" id="restTime" ng-model="yogaSetting.restTime">

   </label>
      </div>

      <div class="row" style="margin-top:5%">
        <button class="col-offset-10 col-34 button button-positive" ng-click="yogaSetting.saveClick()">Save</button>
        <button class="col-offset-10 col-34 button button-positive" ng-click="yogaSetting.cancelClick()">Cancel</button>

      </div>
    </div>
  </div>
</ion-view>`